/* MAIN */
.semua {
  background-color: #D7D0D0;
}
/* Header container */
header {
    background-color: #b0cbdc; /* Light blue background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  /* Logo */
  header .logo {
    display: flex;
    align-items: center;
  }

  header .logo img {
    height: 40px; /* Adjust the height of the logo */
    margin-right: 10px;
  }

  /* Centered title */
  header .title {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    color: #333;
  }



.row.playing-video .desc-box {
  background-color: #D7D0D0;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.row .image-card:hover {
  background-color: #00000010;
  cursor: pointer;
  border-radius: 20px;
}

.row .image-card .uploader-img {
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  width: 40px;
}
